<html>
    <head>
        <title>Merchex</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'listings/styles.css' %}" />
    </head>
<body>
    <div id="app">

        {# requires 'listings/navbar.html' #}
        <nav>
            <div class="nav-item"><a href="/hello" >hello</a></div>
            <div class="nav-item"><a href="/listings" >listings</a></div>
            <div class="nav-item"><a href="/about-us" >about</a></div>
            <div class="nav-item"><a href="/contact" >contact</a></div>
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <div>
                fabagile &copy; 2023

            </div>
        </footer>
    </div>

</body>

</html>