<html>
    <head>
        <title>Merchex</title>
        {% load static %}
        <link rel="shortcut icon" href="{% static 'listings/favicon.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'listings/styles.css' %}" />
    </head>
<body>
    <div id="app">

        {# requires 'listings/navbar.html' #}
        <nav>
            <div class="nav-item"><a href="{% url 'band-list' %}" >groupes</a></div>
            <div class="nav-item"><a href="{% url 'listings' %}" >listings</a></div>
            <div class="nav-item"><a href="{% url 'about'  %}" >about</a></div>
            <div class="nav-item"><a href="{% url 'contact'  %}" >contact</a></div>
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <div>
                fabagile &copy; 2023

            </div>
        </footer>
    </div>

</body>

</html>