{% extends 'listings/_base.html' %}

{% block content %}

    <h1>
        {{band.name}}
    </h1>
    <!-- <h2>{{band.genre}}</h2> -->
    <div class="desc">{{band.biography}}</div>
    <div>
       genre: {{band.get_genre_display}}
    </div>
    <div>
        actif: {{band.active|yesno}}
    </div>

       {% if band.official_homepage %} 
        <a href="{{ band.official_homepage }}" target="_blank" >
            page officielle
        </a>
        {% endif %}

    <div>
        <h2>Annonces</h2>
        {% for listing in band.listing_set.all %}
        <a href="{% url 'listing-id' listing.id %}" >

            {{listing.title}}
        </a>
        {% endfor %}
    </div>

    <a href="{% url 'band-list' %}">Retour à tous les groupes</a>
    <a href="{% url 'listings' %}">Annonces</a>


    
{% endblock %}
