{% extends 'listings/_base.html' %}

{% block content %}
    <h1>Hello Django !</h1>
    <!-- <p>
        J'ai
        {% if bands|length < 5 %}
            peu de
        {% elif bands|length < 10 %}
            quelques
        {% else %}
            beaucoup de
        {% endif %}
            groupes préférés.
    </p> -->
    <p>Mes {{bands | length}} groupes préférés sont :</p>

    <div>
        {% for band in bands %}
        <div>

            <img src={{band.band_picture_URL}} height="100" alt="">
            {{band.name | upper }} {{band.}}

        </li>
        <!-- <li>{{band.name | title }}</li> -->
        {% endfor %}
    </ul>
{% endblock %}