

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2em;

    background: whitesmoke;

}

nav {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: center;
        gap: 1em;
    }
    main {
        width: 768px;
        align-self: center;
    }
}

main {
    flex: 1;
    padding: 0 1em;
}
/* main * {
    display: block;
} */
footer {
    padding: 1em;
    width: 100%;

}
footer * {
    text-align: center;
}

.desc {
    text-align: justify;
    color: cyan;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

body {
    font-family: "Fira Sans", sans-serif;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}
ul {
    list-style: none;
}
li::before {
    content: "🎵";
    padding-right: 6px;
    /* color: lime; */
}
.form-field {
    line-break: auto;
    margin-bottom: 16px;
}
.ads-block {
    /* display: block; */
}

